/* style reset */
* {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #efefef;
  color: #000;
}

/* topNavBar style */
.topNavBar {
  padding: 20px 16px;
}

.topNavBar .logo {
  float: left;
  font-size: 24px;
  font-family: "arial black";
  padding: 3px 0 4px 0;
}

.topNavBar .logo .RS {
  color: #d96e6e;
  margin-right: 5px;
}

.topNavBar .logo .card {
  color: #9a9da1;
}

.topNavBar nav {
  float: right;
  padding: 4px 0 3px 0;
}

.topNavBar nav li {
  float: left;
  margin: 0 17px;
}

.topNavBar nav li a {
  display: block;
  font-weight: bold;
  padding: 5px 0;
  font-size: 12px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: rgba(255,255,255,.6);
}

.topNavBar nav li a:hover {
  border-bottom: 3px solid #d96e6e;
}

.banner {
  top: 0;
  left: 0;
  position: relative;;
  height: 515px;
  margin-top: -80px;
  width: 100%;
  background: url(../img/rs-cover.jpg) no-repeat center;
  z-index: -1;
}

.banner:before{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(44, 51, 64, 0.8);
} 
/* main style */

.profile {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  background: #fff;
}

.profile .detail {
  padding: 57px 50px 15px;
}

.profile .detail .picture {
  float: left;
  margin-right: 63px;
}

.profile .detail .text {
  float: left;
  width: 468px;
}

.profile .detail .welcome{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 5px 13px;
  background: #e8676b;
}

.profile .detail .welcome .tri {
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 100%;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #e8676b;
}


.profile .detail h1 {
  margin-top: 27px;
}

.profile .detail p {
  margin-top: 4px;
}

.profile .detail .text hr {
  margin: 28px 0;
  border: none;
  border-top: 1px solid rgb(222,222,222)
}

.profile .detail .text dt,
.profile .detail .text dd {
  float: left;
}

.profile .detail .text dt{
  width: 30%;
  font-size: 12px;
  padding-bottom: 17px;
}

.profile .detail .text dd {
  width: 70%;
  color: #9da0a7;
  font-size: 12px;
  padding-bottom: 17px;
}


.profile footer {
  background: #e8676b;

}

footer {
  padding: 20px 0;
}

footer .social {
  text-align: center;
}

footer .social a {
  display: inline-block;
  border-radius: 50%;
  line-height: 20px;
  width: 20px;
  padding: 12px;
  border-radius: 50%;
  margin: 0 15px;
}


footer .social a:hover {
  background: rgba(0,0,0,0.1);
}

footer .icon {
   width: 20px;
   height: 20px;
   vertical-align: top;
   fill: #FFF;
 }

/* clearfix */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}