/* style reset */
* {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #efefef;
  color: #000;
}

/* topNavBar style */
.topNavBar {
  padding: 20px 16px;
}

.topNavBar .logo {
  float: left;
  font-size: 24px;
  font-family: "arial black";
  padding: 3px 0 4px 0;
}

.topNavBar .logo .RS {
  color: #d96e6e;
  margin-right: 5px;
}

.topNavBar .logo .card {
  color: #9a9da1;
}

.topNavBar nav {
  float: right;
  padding: 4px 0 3px 0;
}

.topNavBar nav li {
  float: left;
  margin: 0 17px;
}

.topNavBar nav li a {
  display: block;
  font-weight: bold;
  padding: 5px 0;
  font-size: 12px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: rgba(255,255,255,.6);
}

.topNavBar nav li a:hover {
  border-bottom: 3px solid #d96e6e;
}

.banner {
  top: 0;
  left: 0;
  position: relative;;
  height: 515px;
  margin-top: -80px;
  width: 100%;
  background: url(../img/rs-cover.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.banner:before{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(44, 51, 64, 0.6);
} 
/* main style */

main {
  margin-top: -340px;
}
.profile {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
}

.profile .detail {
  padding: 57px 50px 15px;
}

.profile .detail .picture {
  float: left;
  margin-right: 63px;
}

.profile .detail .text {
  float: left;
  width: 468px;
}

.profile .detail .welcome{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 5px 13px;
  background: #e8676b;
}

.profile .detail .welcome .tri {
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 100%;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #e8676b;
}


.profile .detail h1 {
  margin-top: 27px;
}

.profile .detail p {
  margin-top: 4px;
}

.profile .detail .text hr {
  margin: 28px 0;
  border: none;
  border-top: 1px solid rgb(222,222,222)
}

.profile .detail .text dt,
.profile .detail .text dd {
  float: left;
}

.profile .detail .text dt{
  width: 30%;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 16px;
}

.profile .detail .text dd {
  width: 70%;
  color: #9da0a7;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 16px;
}


.profile footer {
  background: #e8676b;

}

footer {
  padding: 20px 0;
}

footer .social {
  text-align: center;
}

footer .social a {
  display: inline-block;
  border-radius: 50%;
  line-height: 20px;
  width: 20px;
  padding: 12px;
  border-radius: 50%;
  margin: 0 15px;
}


footer .social a:hover {
  background: rgba(0,0,0,0.1);
}

footer .icon {
   width: 20px;
   height: 20px;
   vertical-align: top;
   fill: #FFF;
 }

 main .download {
  margin-top: 33px;
  text-align: center;
 }

 main .download a {
   font-size: 14px;
   font-weight: 700;
   color: #000;
   padding: 18px 36px;
   display: inline-block;
   border: 1px solid rgba(203,205,207);
   border-radius: 3px;
   transition: all .5s;
 }

 main .download a:hover {
  box-shadow: 3px 3px 10px 2px #ccc;
}

main .description {
  max-width: 930px;
  margin: 38px auto;
  font-size: 18px;
  font-family: kai;
  line-height: 1.8;
  text-align: center;
}


/* skill layout */
.skills {
  max-width: 930px;
  margin: 57px auto;
}

.skills h2 {
  text-align: center;
  margin-bottom: 27px;
}

.skills .content {
  background: #fff;
  padding: 43px 20px 18px 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
}

.skills .content li {
  float: left;
  width: 50%;
  padding-bottom: 32px;
}

.skills .content li h3 {
  font-size: 14px;
  color: #3d4451;
  padding-bottom: 5px;
}

.skills .content .progressBar {
  height: 5px;
  background: rgb(232,103,107,.2);
  margin-right: 30px;
}

.skills .content .progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 70%;
  background:rgb(232,103,107);
}


.skills .content li:nth-child(2) .progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 95%;
  background:rgb(232,103,107);
}
 
.skills .content li:nth-child(3) .progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 80%;
  background:rgb(232,103,107);
}

.skills .content li:nth-child(4) .progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 94%;
  background:rgb(232,103,107);
}

.skills .content li:nth-child(5) .progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 85%;
  background:rgb(232,103,107);
}

/* album layout */
.florilegium {
  max-width: 930px;
  margin: 57px auto;
}

.florilegium h2 {
  text-align: center;
  margin-bottom: 27px;
}

.florilegium {
  text-align: center;
}
 
.florilegium nav {
  display: inline-block;
  border: 1px solid;
  margin: 0 auto;
}

.florilegium nav ol li {
  font-size: 14px;
  float: left;
  margin-left: 48px;
  cursor: pointer;
}
.florilegium nav ol li:first-child{
  margin-left: 0;
}

.florilegium nav div{
  height: 5px;
  background: #fff;
}

/* clearfix */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}


